/* Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Montserrat:700');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background-color: #EDEDED;
    color: #1E292B;
    padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #4F6C6B;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1E292B;
    background-color: #F7DDD9;
    border: none;
}

.bg-steel {
    background-color: #4F6C6B;
}

.site-header .navbar-nav .nav-link {
    color: #F7DDD9;
}

.site-header .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 800;
}

.content-section {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 2px solid #F7DDD9;
    border-radius: 3px;
    margin-bottom: 10px;
}

.article-title {
    color: #4F6C6B;
}

a.article-title:hover {
    color: #1E292B;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #EDEDED;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
    color: #1E292B;
}

.btn-group {
    flex-wrap: wrap;
}

.btn-group > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-group > *:last-child {
    margin-right: 0;
}

.content-section {
    margin-bottom: 20px;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert {
    margin-bottom: 0;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .btn-group {
        flex-wrap: wrap;
    }
    .btn-group .btn {
        margin-bottom: 10px;
    }
}

.site-footer {
  background-color: #F7DDD9;
  padding: 5px 0;
}

.site-footer hr {
  border-top: 1px solid #EDEDED;
}

.site-footer p {
  margin-bottom: 0;
}

.site-footer img {
  max-height: 80px;
}

.contact-us h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.contact-us p {
  margin-bottom: 0;
}

.header-image-field {
    max-width: 100%;
    height: auto;
}