{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    
    <p>Welcome to Glasgow Life, a forum for university students to connect with 
        each other and share their experiences online. 
        Our platform is designed to facilitate open and 
        honest conversations on a variety of topics, including food, travel, and life in general. <br>

        We understand that university can be a challenging and stressful time, which is why we created GlasgowLife 
        to provide a space for students to connect with their peers and feel a sense of community. 
        Our platform is designed to be inclusive and welcoming to all students, regardless of their background or interests. 
        We encourage our users to use the tags #Confessions and #SeriousOnly to start discussions on more sensitive or important topics.<br>
        
        At Glasgow Life, we believe that sharing stories and experiences is an important part of building a supportive community.
         We encourage our users to use the platform to talk about their successes, challenges, and everything in between. 
         Whether you are looking for advice, want to share a recipe, or just need to vent, Glasgow Life is the place for you. <br>
        
        We are committed to providing a safe and respectful space for our users. We expect all of our members to treat 
        each other with kindness and respect. If you encounter any inappropriate behavior or content on our platform, 
        please report it to our team immediately. <br>
        
        If you have any questions or concerns about Glasgow Life, please do not hesitate to contact us at 
        info@glasgowlife.com or support@glasgowlife.com. We are always happy to hear from our users and 
        welcome any feedback or suggestions. Thank you for being a part of our community.</p>

{% endblock content %}
